body {
  width: 100%;
  background-color: black;
}
.formularito {
  width: 70%;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.tablita {
  width: 90%;
}
.todo-tabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-enviar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
